
@model IEnumerable<UmarSeat.Models.SeatConfirmation>

@{
    ViewBag.Title = "Stock Selling Report";
}

<style>
    select {
        border: 0px !important;
    }

    .select2-container {
        width: 100%;
    }

    .bootstrap-datetimepicker-widget, .datepicker {
        z-index: 9999 !important;
    }

    .popover-content p {
        float: left;
        padding: 5px;
        border: 1px solid #ECECEC;
        margin-right: 10px;
    }
</style>
<link media="screen" type="text/css" rel="stylesheet" href="~/Content/assets/plugins/bootstrap-datepicker/css/datepicker3.css">

<link href="~/Content/overlay-bootstrap.css" rel="stylesheet" />
<br />
<link class="" href="~/Content/pages/css/themes/calendar.css" rel="stylesheet" type="text/css" />
<div class="container-fluid  bg-white">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
        <div class="panel-heading">
            <div class="panel-title">
                Stock/Seat  Sold  Reports
            </div>


            <div class="col-sm-3 pull-right">

            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group  form-group-default form-group-default-select2">
                        <label>Air Line</label>

                        @Html.DropDownList("airlineName", (List<SelectListItem>)ViewBag.listAirline, "", new { @id = "airlineId", @class = "full-width" })


                    </div>

                </div>

            </div>
            <div class="calendar">
                <!-- START CALENDAR HEADER-->
                <div class="calendar-header">
                    <div class="drager">
                        <div class="years" id="years"></div>
                    </div>
                </div>
                <div class="options">
                    <div class="months-drager drager">
                        <div class="months" id="months"></div>
                    </div>
                    <h4 class="semi-bold date" id="currentDate">&amp;</h4>
                    <div class="drager week-dragger">
                        <div class="weeks-wrapper" id="weeks-wrapper">
                        </div>
                    </div>
                </div>
                <!-- START CALENDAR GRID-->
                <!-- END CALENDAR GRID-->
            </div>
            <div id="popups"></div>




        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Content/assets/plugins/bootstrap-select2/select2.min.js" type="text/javascript"></script>


    <script src="~/Content/assets/plugins/moment/moment.min.js"></script>
    <script src="~/Content/assets/plugins/moment/moment-with-locales.min.js"></script>
    <script src="~/Content/assets/plugins/hammer.min.js"></script>
    <!-- END VENDOR JS -->
    <!-- BEGIN CORE TEMPLATE JS -->


    <script>



    </script>

    <script src="~/Content/pages/js/pages.min.js"></script>
    <script src="~/Content/assets/js/pages.calendarSeatsSold.js"></script>

    <script src="~/Content/assets/js/calendarSeatSold.js" type="text/javascript"></script>
    <script src="~/Content/assets/js/scripts.js" type="text/javascript"></script>


    <style>
        .form-group-default.form-group-default-select2 .select2-container .select2-choice .select2-chosen {
            padding-top: 5px;
        }

        #select2-chosen-2 {
            padding-top: 0px;
        }

        .sales {
            background: #E08181;
            width: 10px;
            height: 10px;
            display: inline-block;
            border-radius: 10px;
            float: right;
            margin-top: 2px;
            color: #fff;
        }

        .popover-title {
            font-size: 16px !important;
        }
    </style>
    <script>
    var stdate;
    var etdate;
            $(document).ready(function () {
                $("#dv1").html('');
                $("#airlineId").select2({
                    allowClear: true
                }).on("change", function (e) {

                    generateReport(stdate, etdate)
                });
                $("#airlineId").select2('val', '@ViewBag.selectedValue', true);
            });
    </script>

}
@section Bread{
    <ul class="breadcrumb">
        <li>
            <a href="">Reports</a>
        </li>
        <li>
            <a href="#" class="active">Stock  Selling  Reports </a>
        </li>
    </ul>
}