@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole> 

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Roles List 
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
         @Html.ActionLink("Edit", "Edit", new { rolename = item.Name }) |
          
            @Html.ActionLink("Delete", "Delete", new { rolename = item.Name })
        </td>
    </tr>
}

</table>
