
@{
    ViewBag.Title = "InviteUser";
    Layout = null;
}




<link href="~/Content/assets/plugins/boostrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link class="main-stylesheet" href="~/Content/pages/css/pages.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
<link href="~/Content/pages/css/pages-icons.css" rel="stylesheet" type="text/css">

<div class="container-fluid  bg-white">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
        <div class="panel-heading">
            <div class="panel-title">
                <h3>Invite User</h3>
            </div>
            <div class="export-options-container pull-right"></div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="p-r-30">
                <p>
                    Portlets are pluggable UI components that are managed and displayed in a web portal. Portlets in Pages are created by reusing the <a href="http://getbootstrap.com/components/#panels">panels</a> introduced in Bootstrap to enable effortless customization.
                </p>
            </div>
            <div id="dv2"></div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true)
                </div>


                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group form-group-default">
                            <label>Email</label>
                            <input id="email" type="email" name="email" required class="form-control" />
                        </div>

                    </div>

                </div>
                <button type="button" onclick="sendinvite()" class="btn btn-primary"><i class="pg-sent"></i> Invite User</button>
               <button id="close" type="button" class="btn btn-default"> No</button>
            }

           
        </div>
    </div>
    <!-- END PANEL -->
</div>




<script src="~/Content/assets/plugins/jquery/jquery-1.8.3.min.js" type="text/javascript"></script>

<script>
    function sendinvite() {

        $("#dv2").append('<div id="aaa" class="panel-default-overlay-down">\
                        <div class="col-sm-12 text-center" style="height:100%">\
                            <div class="progress-circle-indeterminate m-t-45">\
                            </div>\
                            <br>\
                            <p class="small hint-text">Loading data</p>\
                        </div>\
                    </div>');
        $.ajax({
            type: "post",
            url: "/UserManagement/InviteUser",
            data: JSON.stringify({ email: $("#email").val() }),
            datatype: "json",
            contentType: "application/json",
            success: function (data) {
                $("#dv2").html("");
                if (data.length != 0) {

                    data = JSON.parse(data);
                    if (data.isSuccess == true) {
                        $("#dv2").append('<div class="alert alert-success" role="alert"><button class="close" data-dismiss="alert"></button><strong>Success: </strong>' + data.Message + '</div>');
                    }
                    else {
                        $("#dv2").append('<div class="alert alert-danger" role="alert"><button class="close" data-dismiss="alert"></button><strong>Error: </strong>' + data.ErrorMessage + '</div>');
                    }

                }



            },
            error: function (xhr, ajaxOptions, thrownError) {
                $("#dv2").html("");
                $("#dv2").append('<div class="alert alert-danger" role="alert"><button class="close" data-dismiss="alert"></button><strong>Error: ' + xhr.status + ' </strong>' + thrownError + '</div>');

            }
        });
    }

    $(document).ready(function () {

        $("#close").click(function () {
            $("#modalSlideUp").click();
        });

    });
</script>