@model UmarSeat.Models.SeatConfirmation

@{
    ViewBag.Title = "Details";
}



<div class="p-r-30">
    <h3> Do you Want to Delete CJAQHY> </h3>
    <br>
    <p>
        Portlets are pluggable UI components that are managed and displayed in a web portal. Portlets in Pages are created by reusing the <a href="http://getbootstrap.com/components/#panels">panels</a> introduced in Bootstrap to enable effortless customization.
    </p>
</div>
<table class="table table-inline "><tbody><tr><td>PNR #</td><td>CJAQHY</td><td>Airline</td><td>Saudi</td></tr><tr><td>Stock ID</td><td>Faisalabad</td></tr><tr><td>Outbound Date</td><td>09/10/2015</td><td>Inbound Date</td><td>10/10/2015</td></tr><tr><td>Outbound Sector</td><td>MED-ISB</td><td>Inbound Inbound</td><td>ISB-JED</td></tr><tr><td>Costs</td><td>7000</td><td>Number of Seats</td><td>200</td></tr><tr><td>Group Category</td><td>Haj</td><td>Receving Branch</td><td>Lahore Branch</td></tr><tr><td>EMD #</td><td>607-18188888</td><td>Time Limit</td><td>08/10/2015</td></tr></tbody></table>

    <button type="button" class="btn btn-danger" onclick="savedata()"><i class="pg-remove"></i> Yes</button>
    <button type="button" class="btn btn-default" onclick="clearall()"><i class="pg-close"></i> No</button>

