
@{
    ViewBag.Title = "ImportBooking";
    Layout = null;
}

<link href="~/Content/assets/plugins/boostrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<!-- BEGIN Pages CSS-->
<link href="~/Content/assets/plugins/dropzone/css/dropzone.css" rel="stylesheet" type="text/css" />

<link class="main-stylesheet" href="~/Content/pages/css/pages.css" rel="stylesheet" type="text/css" />

<link href="~/Content/pages/css/pages-icons.css" rel="stylesheet" type="text/css">




<div class="col-md-6">
    <!-- START PANEL -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Drag n' drop your excel files here
            </div>
            
        </div>
        <div class="panel-body no-scroll no-padding">
            <form action="~/Excel/SaveUploadedFile" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
                <div class="fallback">

                    <input name="file" type="file" multiple />
                </div>
            </form>
        </div>
    </div>
    <!-- END PANEL -->
</div>
            </div>
<style type="text/css">
    
</style>

@Scripts.Render("~/bundles/jquery")


<script src="~/Content/assets/plugins/modernizr.custom.js" type="text/javascript"></script>

<script src="~/Content/assets/plugins/dropzone/dropzone.js"></script>
    <script type="text/javascript">

        //File Upload response from the server
        Dropzone.options.dropzoneForm = {
            maxFiles: 1,
            init: function () {
                this.on("maxfilesexceeded", function (data) {
                    var res = eval('(' + data.xhr.responseText + ')');

                });
            }
        };






    </script>


